@model MVC.SmartHouse.Models.Conditioner
@{
    int i = Model.Id;
    string pwrState = Model.PwrState == "выкл" ? "disabled=\"\"" : "";
    string pwrModeUp = "", pwrModeDn = "", tmpModeUp = "", tmpModeDn = "";
    var modes = Model.FirstLastModes();
    if (pwrState == "")
    {
        pwrModeUp = Model.CurrentMode() == modes.last ? "disabled =\"\"" : pwrModeUp;
        pwrModeDn = Model.CurrentMode() == modes.first ? "disabled =\"\"" : pwrModeDn;
        tmpModeUp = Model.AllTemps[1] == Model.temperature || Model.AllTemps[3] == Model.temperature ? "disabled =\"\"" : tmpModeUp;
        tmpModeDn = Model.AllTemps[0] == Model.temperature || Model.AllTemps[2] == Model.temperature ? "disabled =\"\"" : tmpModeDn;
    }
}
<div id="div_@i" class="cond">
    <strong style="color:cornflowerblue">
        Кондиционер
    </strong>
    <hr />
    Состояние:
    <label id="lbl_pwr_@i">@Model.PwrState</label>
    <br />
    <button id="pwr_@i" onclick="List.Get(@i).SwitchPower()">Вкл/Выкл</button>
    <hr />
    Режим потребления энергии
    <label id="lbl_pmode_@i">@Model.CurrentMode()</label>
    <br />
    <button id="pmode_up_@i" onclick="List.Get(@i).SwitchMode(1)" @pwrState @pwrModeUp>Up режим</button>
    <button id="pmode_dn_@i" onclick="List.Get(@i).SwitchMode(0)" @pwrState @pwrModeDn>Down режим</button>
    <hr />
    Температура: 
    <label id="lbl_tmp_@i">@Model.temperature</label>°С
    <br />
    <button id="tmp_up_@i" onclick="List.Get(@i).SwitchTemp(1)" @pwrState @tmpModeUp>Up температуру</button>
    <button id="tmp_dn_@i" onclick="List.Get(@i).SwitchTemp(0)" @pwrState @tmpModeDn>Down температуру</button>
    <br />
    <button id="tmp_max_@i" onclick="List.Get(@i).MaxMinTemp(1)" @pwrState @tmpModeUp>Мах температуру</button>
    <button id="tmp_min_@i" onclick="List.Get(@i).MaxMinTemp(0)" @pwrState @tmpModeDn>Мин температура</button>
    <hr />
    <button id="del_@i" onclick="List.Del(@i)">Удалить</button>
    <label id="lbl_modes_@i" hidden>@(modes.first + " " + modes.last)</label>
    <label id="lbl_temps_@i" hidden>@(string.Join(" ", Model.AllTemps))</label>
    <br />
</div>